* {
  font-family: 'Orbitron', sans-serif;
  color: #D0D7DF;
}

p {
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: black;
}

.credits {
  font-family: 'Orbitron', sans-serif;
  color: #D0D7DF;
  font-size: 10px;
}

.App {
  text-align: center;
}

.galaxy{
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(90deg);
  overflow:hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
