.planet-card-name, .planet-card-fact{
  transition: color 1s
}

.planet-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px 25px 40px 25px;
  text-decoration: none;
}

.planet-icon {
  height: 200px;
  width: 200px;
  align-self: center;
  cursor: pointer;
}

.planet-icon:hover {
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}

.planet-icon:hover ~ .Earth,
.planet-icon:hover ~ .Neptune,
.planet-icon:hover ~ .Uranus,
.planet-icon:hover ~ .Mercury {
  color: #68CCD7;
}

.planet-icon:hover ~ .Venus,
.planet-icon:hover ~ .Mars,
.planet-icon:hover ~ .Jupiter,
.planet-icon:hover ~ .Saturn {
  color: #F5AE45;
}


.planet-card-name {
  margin: 20px 10px 10px 10px;
}

.planet-card-fact {
  margin: 0;
  font-size: 1.5rem;
}


@media only screen and (max-width: 850px) {
  .planet-card {
    width: 30%;
  }
}

@media only screen and (max-width: 580px) {
  .planet-card {
    width: 60%;
  }
}
