.planet-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px 15px;
}

.planet-icon {
  height: 200px;
  width: 200px;
  align-self: center;
}

.planet-icon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .planet-card {
    width: 30%;
  }
}

@media only screen and (max-width: 580px) {
  .planet-card {
    width: 600%;
  }
}