.planet-card-name, .planet-card-fact{
  transition: color 1s
}

.planet-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px 15px;
}

.planet-icon {
  height: 200px;
  width: 200px;
  align-self: center;
  cursor: pointer;
}

.planet-icon:hover ~ .Earth,
.planet-icon:hover ~ .Neptune,
.planet-icon:hover ~ .Uranus,
.planet-icon:hover ~ .Mercury {
  color: #68CCD7;
}

.planet-icon:hover ~ .Venus,
.planet-icon:hover ~ .Mars,
.planet-icon:hover ~ .Jupiter,
.planet-icon:hover ~ .Saturn {
  color: #F5AE45;
}
