.App-header {
  background-color: #071927;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #D0D7DF;
}

.giphy-embed {
  height: 180px;
  border: 0;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
}

@media only screen and (max-width: 850px) {
  .App-header {
    justify-content: space-between;
  }
  .title {
    margin: 0 50px 0 0 ;
  }
}

@media only screen and (max-width: 580px) {
  .title {
    margin: 7.5px;
  }
}
