html {
  background-color: black;
}

.App {
  text-align: center;
}


.giphy-embed {
  height: 320;
  border: 0;
}

.galaxy{
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(90deg);
  overflow:hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #071927;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
