.planet-info-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back {
  text-decoration: none;
  padding: 20px 0 0 20px;
  align-self: flex-start;
}

.planet-info-title {
  font-size: 40px;
}

.planet-info-img {
  width: 200px;
  align-self: center;
}

.planet-info-box {
  border: 5px solid #D0D7DF;
  width: 70%;
  align-self: center;
  margin-top: 20px;
}

.planet-info-list {
  list-style: none;
  padding: 0;
}